@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BEGIN PAGE HEADER-->
<div class="row-fluid" >
    <div class="span12">
        <h3 class="page-title"></h3>
        <ul class="breadcrumb" style="background-color: #08c">
            <li>
                
                <a href="@Url.Action("Rating","Admin")">CheckList</a>&nbsp;&nbsp;/&nbsp;&nbsp;<a href="@Url.Action("SendRequest","Admin")">Edit CheckList</a>
            </li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>

<div class="row-fluid">
    <div class="span12">

        <img src="~/Images/raazihospital.jpg" style="width:100%; height:100%;" />
      
    </div>
</div>